[Tt]humbs.db
*.DS_Store
cmake/
roubo*.zip

*.user
*.aps
*.pch
*.suo
*.bak
*.vspscc
*.vssscc
*.sdf
*.opensdf
*.unsuccessfulbuild
*.[Cc]ache
*.ncb
*_i.c
*_p.c
*.tlb
*.tlh
*.ilk
*.lib
*.sbr

ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

*.log
*.tlog

*.userpref
*.pidb